<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
  <link rel="stylesheet" href="
  style.css">
  
</head>
<body>
   <div class ="input-container">
      <input type="text" id="artista" placeholder="Artista"/>
      </div>

      <div class ="input-container">
       <input type="text" id="titulo" placeholder="Titulo"/>
      </div>

      <div class ="input-container">
       <input type="text" id="lanzamiento" placeholder="Lanzamiento"/>
      </div>

      <input id="buscar" class="" type="submit" value="Buscar" />
    </div>
    <div id="tarjetas" class=""></div>
    <div class="contenido">
      {{{body}}}
    </div>
    <footer>
      <div>Copyright © 2021 Apple Inc. All rights reserved.</div>
    </footer>
    <script src="script.js"></script>
</body>
</html>