{{#each discos}}
<div class="tarjetas">
    <img src="{{this.tapa}}"
    <div class="card-body">
        <h5 class="card-title">Artista{{this.artista}}</h5>
        <h6 class="card-title">Artista{{this.titulo}}</h6>
        <p class="card-text">Lanzamiento: {{this.lanzamiento}}</p>

    </div>
</div>
{{/each}}